html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/*  */

button, a {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #202020;
}

/* HEADINGS */
h2 {
    margin: 0;
}
span {
    font-size: 0.75rem;
    margin: 1em 0 0.313em;
}

.main-content {
    min-height: 70vh;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVIGATION */
header {
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    min-height: 10vh;
}
.head-container {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 1.6em;
    box-sizing: border-box;
}
header .head-container span, header .head-container .nav {
    display: flex;
    align-items: center;
}
header .head-container span {
    font-size: 1rem;
}
header .head-container span i {
    font-size: 1.375em;
}
header .head-container .nav {
    gap: 3em;
    font-size: 0.75rem;
    box-sizing: border-box;
}

/* Developer Mode Overlay */
.dev-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Saving Blogs | Developer Mode */
.add-blog {
    background-color: #202020;
    color: #D7D7D7;
    width: 90vw;
    margin: 1em auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 8px;
    max-width: 600px;
}
.add-blog #dev-close {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
}
.add-blog form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
}
.add-blog form input,
.add-blog form textarea {
    padding: 0.313em;
    border-radius: 4px;
} 
.add-blog form label {
    font-size: 0.875rem;
    margin: 0.625em 0 0.313em;
}
.add-blog form input { height: 2em;}
.add-blog form textarea {
    resize: none;
    height: 21.875em;
}

.add-blog form button {
    padding: 0.875em;
    margin: 1em 0 0.5em;
    border-radius: 4px;
    background-color: #047857;
    border: none;
    color: #D7D7D7;
    font-weight: 600;
    font-size: 1em;
}
    .add-blog form button:hover,
    .add-blog form button:focus {
        background-color: #064E3B;
    }

/* =================
    MAIN SITE
   ================= */

/* FEATURED POST */
main section.featured-blog {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    width: 100%;
}

section.featured-blog img {
    width: 100%;
    max-height: 100vh;
}

section.featured-blog div.desc {
    position: absolute;
    bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.126));
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.307);
    color: #D7D7D7;
    line-height: 1.5;
    width: 100%;
}
section.featured-blog div.desc h1, 
section.featured-blog div.desc p {
    margin: 0 0 0.313em;
}

/* BLOGS */
main section.blogs-container {
    margin: 2em 1.25em;
    color: #202020;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 0 0.5em;
}

@media (min-width: 500px) {
    main section.blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 760px) {
    main.about-me div.my-info {
        display: grid;
        grid-template-areas: repeat(4, 1fr);
        grid-template-areas: 
            "image ... intro intro"
        ;
        gap: 1.5em;
    }
}

@media (min-width: 870px) {
    main section.blogs-container {
        grid-template-columns: repeat(3, 1fr);
    }
    main.about-me div.my-info {
        display: grid;
        grid-template-areas: repeat(4, 1fr);
        grid-template-areas: 
            "image ... intro intro"
        ;
        gap: 2em;
        max-width: 1200px;
    }
    main.about-me div.more-info {
        margin: 0em;
    }
}

section.blogs-container a.blogs {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    max-width: 550px;
}
    section.blogs-container a.blogs:hover {
        background-color: #e9e9e9;
    }
section.blogs-container a.blogs p.blog-shortdesc {
    font-size: 0.875rem;
    margin: 0.25em 0;
    color: #505050;
}
section.blogs-container a.blogs img.blog-img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

/*  =================
    ABOUT ME SECTION
    =================  */
main.about-me {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    min-height: 75vh;
}
main.about-me div.my-info {
    margin-bottom: 4em;
}
main.about-me div.more-info {
    max-width: 1000px;
    margin-bottom: 2em;
}
main.about-me div.my-info div.img-container {
    height: 200px;
    width: 200px;
    margin-bottom: 1em;
    grid-area: 'image';
}
div.my-info div.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
main.about-me div.my-info div.my-intro {
    grid-area: 'intro';
    max-width: 1200px;
}



/* VIEW MORE BUTTON */
.view-more-btn {
    display: block;
    margin: 1em auto 2em;
    padding: 0.75em 2em;
    background-color: #202020;
    color: #D7D7D7;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.view-more-btn:hover {
    background-color: #404040;
}

/* =============
    FOOTER 
   ============= */
.footer {
    height: 15vh;
    background-color: #202020;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer p {
    margin: 0.25em 0;
    text-align: center;
}